[Unit]
Description=Storage Monitor Service
After=network.target
Wants=network.target

[Service]
User=USERNAME
Group=USERNAME
WorkingDirectory=/home/USERNAME/node-storage-monitor
Environment=PYTHONPATH=/home/USERNAME/node-storage-monitor
ExecStart=/home/USERNAME/node-storage-monitor/.venv/bin/python storage_monitor.py
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=120
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
